<!DOCTYPE html>
<html lang="en-US">
	<head>
		<!-- set UTF-8 character set -->
		<meta charset="utf-8" />

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery.js"></script>

		<!-- device dependent rendering & disable touch zooming -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-responsive.css" rel="stylesheet"> -->
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

		<script src="/js/navbar.js"></script>

		<link rel="stylesheet" href="/css/style.css" />

		<title>iFridge</title>

	</head>

	<body>
		<div class="container">
			<div class="col-sm-12">
			<!-- navigation bar -->
  			<nav class="navbar navbar-default">
  				<a href="/list/{{iid}}"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
				<a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
				<input type="text" id="searchBar"/>
				<a href="#"><span class="glyphicon" id="cancel" aria-hidden="true">cancel</span></a>
				<a href="#"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></a>
				<input type="file" capture="camera" accept="image/*" id="cameraInput" hidden="hidden"/>
				<!-- <a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a> -->
  			</nav>
  			</div>
			<!-- item details -->
			<div class="row">
				<div class="col-sm-6">
					<img id="itemImg" src="{{imageURL}}">
				</div>
				<div class="col-sm-6">
					<div id="itemInfo">
						<h4>{{name}}<!-- Blueberry --></h4>
						<p>Expire: {{dateExp}}</p>
						<p>Category: {{category}}</p>
						<!-- <p>Added on: </p> -->
					</div>
				</div>
			</div>
		</div>
	</body>

</html>

<!-- div {}

#id {}

.class {} -->

