<!DOCTYPE html>
<html>
<head>
	{{> metadata}}	
	{{> library_includes}}
</head>
<body>
	<div class="container">
		{{>navbar }}
		
		<div class="content">
		{{#each list}}
		<!-- items in a category -->
		<a class="clickable" href="/item/{{category.id}}/{{id}}">
		<div class="panel panel-primary itPanel" id="{{id}} cname">
		<span>{{name}}</span>
		{{!-- <span>{{daysBetween }}</span> --}}
		</div>
		</a>
		{{/each}}
		</div>
	</div>
</body>
</html>