<!DOCTYPE html>
<html>
	<head>
		{{> metadata}}	
		{{> library_includes}}
	</head>
	<body>
		<div class="container">
			<!-- navigation bar -->
  			<nav class="navbar navbar-default">
  				<a href="/"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
{{!-- 				<a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
				<a href="#"><span class="glyphicon" id="cancel" aria-hidden="true">cancel</span></a> --}}
				<input type="text" id="searchBar"/>
				<a href=""><span class="glyphicon" id="FruitsCategory" aria-hidden="true">{{list.0.category.name}}</span></a>
{{!-- 				<a href="#"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></a>
				<input type="file" capture="camera" accept="image/*" id="cameraInput" hidden="hidden"/>--}}

				{{!-- <a href="/settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a> --}}
				<a href="/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
  			</nav>

  			<div class="content">
			{{#each list}}
			<!-- items in a category -->
			<a class="clickable" href="/item/{{category.id}}/{{id}}">
			<div class="panel panel-primary itPanel" id="{{id}} cname">{{name}}</div>
			</a>
			{{/each}}
			</div>
		</div>
	</body>
</html>